#footer {
    position: absolute;
    top: 1000px;
    left: 0px;
    width: 1400px;
    height: 50px;
    /* UI Properties */
    background: #182838 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    color: #ccc;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}