#popup {
    margin-top: 99px;
    margin-left: 529px;
    width: 466px;
    height: 504px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #787575;
    border-radius: 8px;
    opacity: 1;
    display: flex;
    flex-wrap : nowrap;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    box-shadow:  2px 2px 2px 2px #ccc;
}

#right {
    /* margin-top: 91px; */
    border-radius: 50%;
    margin-left: 160px;
    width: 140px;
    height: 140px;
    /* UI Properties */
    background: #5861AE60 0% 0% no-repeat padding-box;
    opacity: 1;
}

#check {
    margin-top: 40px;
    left: 735px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* UI Properties */
    /* background: #5861AE 0% 0% no-repeat padding-box; */

    opacity: 1;

}
/* 
h2 {
    margin-left: 40px;
} */

p {

    /* UI Properties */
    /* text-align: center; */
    align-items: center;
    margin: 0px 80px 30px 80px;
    font: normal normal normal 17px/22px Open Sans;
    letter-spacing: -0.41px;
    font-size: 25px;
    color: #0A1F44;
    opacity: 1;
}

button {
    width: 235px;
    height: 44px;
    /* UI Properties */
    background: #5861AE 0% 0% no-repeat padding-box;
    border: #5861AE;
    border-radius: 22px;
    opacity: 1;
    /* margin-left: 40px; */
    color: #FFFFFF;
}