header {
    color: #1E2022;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.Table {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}


td,
th {
    width: 20%;
    font-size: 20px;
    padding-left: 10px;
}

tbody tr {
    border-bottom: 1px solid #E0E0E0;
}

.wash-type {
    display: flex;
    align-items: center;
}

#reset-btn button {
    color: #5861AE;
    border: 1px solid #5861AE;
    border-radius: 5px;
    width: 80px;
    height: 32px;
}

.wash-type img {
    padding-right: 50px;
    margin: 25px 20px 20px 0px;
}

.Table-main {
    width: 100%;
    margin: 20px;

}

.thead tr {
    background-color: #2F2F2F;
    color: #dcd7d7;
}

#cancel-btn {
    border: 1px solid #5861AE;
    border-radius: 4px;
    font: 14px;
    color: #5861AE;
    margin-right: 20px;
    width: 107px;
    height: 32px;
}

#bottom-btns {
    margin-top: 20px;
    float: right;
}

#proceed-btn {
    background: #5861AE;
    border: 1px solid #5861AE;
    border-radius: 4px;
    font: 14px;
    color: #FFFFFF;
    width: 107px;
    height: 32px;
}

#disabled-btn {
    background: #9ea3cd;
    border: 1px solid #5861AE;
    border-radius: 4px;
    font: 14px;
    color: #FFFFFF;
    width: 107px;
    height: 32px;
}


.modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 950px !important;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.right .modal-content {
    height: 100%;
    border-radius: 0;
}

.come-from-modal.right .modal-body {
    padding: 0 !important;
}

.come-from-modal.right.fade .modal-dialog {
    right: -10px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}

.store-info {
    display: flex;
    flex-direction: column;
    padding-right: 440px !important;
    padding: 5px 20px;
    background-color: #E0E0E0;
}

.store-info2 {
    margin-left: 15.5vw;
    display: flex;
    /* padding: 0px 20px; */
    background-color: #E0E0E0;
}

.store-info2 div:nth-child(even) {
    margin-left: 20px;
}

input {
    outline: none;
}

.order-details {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}


.order {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding: 2px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    font-size: 20px;
}

.total-breakdown {
    font-weight: bold;
}

.total-footer {
    margin-top: 5px;
    border-bottom: 1px solid #E0E0E0;
    /* background-color: aqua; */
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.G-total {
    display: flex;
    padding-right: 28px;
    justify-content: flex-end;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: -30px;
    width: 100%;
    background-color: #5861AE;
}

.address {
    padding: 0px 30px;
    margin-top: 5px;
}

.tabs {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.tabs div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    box-shadow: 5px 2px 10px #9ea3cd;
    border-radius: 5px;
    height: 60px;
    width: 200px;
}