.sidebar {
    display: inline-block;
    width: 60px;
    height: 100vh;
    background-color: #5861AE;
}

.div-icons img {
    margin: 15px;

}

.div-icons {
    margin-top: 10px;
}

img.hover {
    transition: 0.5s;
}

img.hover:hover {
    transition: 0.5s;
    transform: scale(1.2);
}