.order {
    border: 1px solid black;
    position: absolute;
    /* top: 200px; */
    /* text-align: center; */
    /* left: 120px; */
    width: 100%;
    background: black;
    border: 1px solid white;

}
.order-table{
    position: absolute;
    top: 200px;
    align-items: center;
    /* text-align: center; */
    /* align-items: center; */
    left:106px;
    width: 85%;
    height: 100vh;
    border-collapse: collapse;
    padding: -10px;
    
    /* position: relative; */
  
}

.order tr  {
    height: 35px;
    color: #ccc;
    width: 100%;
     display: flex;
    flex-direction: row;
    border-collapse: collapse;
 text-align: center;
    justify-content: space-around;

}

.searchbar {
    margin-top: 50px;
    margin-right: 300px;
    position: absolute;
    top: 2px;
    right: 395px;
    z-index: 1;
}
.subheader {
    width: 1740px;
    background: #FFFFFF;
    opacity: 1;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 60px
}

#order {
    margin-left: 60px;
    margin-top: 50px
}

#creat {
    margin-left: 750px;
    /* height: auto; */
    margin-top: 40px;
    border: 1px solid #5861AE;
    color: #5861AE;
    width: 90px;
    height: 40px;
}

#input {
    position: absolute;
    top: 50px;
    right: 240px;
    left: 1020px;
    width: 150px;
    height: 21px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    /* UI Properties */
    opacity: 1;


}
.ordertable td{
    /* text-align: center; */
    /* margin-top: 600px; */
    /* display: flex;
    flex-direction: row; */
    /* position: absolute; */
    /* top:0px 
    /* margin-left: 240px; */
    text-align: center;
    border: 1px solid rgb(254, 250, 250);
    border-collapse: collapse;
    /* height: 2px; */
    width: 1270px;
  
}
#eye{
    width: 30px;
    height: 30px; 
}
#id{
    margin-top: 400px;
}
.ordertable td tr{
    text-align: center;
    display: flex;
    /* height: 0px; */
    flex-direction: row;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

#price{
    margin-left: 440px;
}