.addressbar {
    position: absolute;
    top: 70px;
    left: 550px;
    width: 926px;
    height: 98px;
    /* UI Properties */
    background: #F4F9FF 0% 0% no-repeat padding-box;
    opacity: 1;
    /* border: 1px solid rgb(62, 58, 58); */
    padding: 10px;
    box-sizing: border-box;
    text-align: left;

}

.table th tr {
    width: 121px;
    height: 22px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}

th td,
tr td {
    width: 300px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0.38px;
    color: #1B2734;
    opacity: 1;
}